html {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 1.13rem;
  line-height: 1.75rem;
  color: #d9d9d9;
}

body {
  margin: 0;
}

.start{
  background-color:#141414;
}


/* Breadcrumbs */
.seo-breadcrumbs li a {
  color:#444;
}

#page .start nav {
  background-color: #e9e8e8;
  padding-left: 2rem;
}



.topBG {
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  padding-top: 0;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.bottomBG {
  background-image: linear-gradient(#141414, #202020, #000000);
  padding-top: 0;
}

.whitePale {
  background-color: #202020;
  border-radius: 5px;
  padding: 1rem 1rem 1.5rem 1rem;
}

.whitePale p {
  min-height: 99px;
}

.whitePaleBorder {
  border: solid 1px #d6e4f2;
}


/* Dividers */
.dividers{
  position: absolute;
}

img#divider1 {

  bottom: -6px;
  left: 0;
}

/* Screen larger than 270px? */
@media (min-width: 270px) {
  .row {
    padding: 2.2rem 2rem;
  }

  a.homeBtn{
    justify-self: center;
    width:100%;
    text-align:center;
    color: #d9d9d9;
    border: none;
    background-color: #3a3a3a;
    padding: 0.4rem 0.8rem;
    border-radius: 7px;
    transition: background-color 0.3s;
  }


  .hero-content{
     
      margin-bottom: 0;
      max-width: 24em;
      padding: 32px 40px;
      position: relative;
      background-color: #20202091;
      color: #fff;
      text-shadow:0 0 5px #000;
      border-radius: 25px;
      margin-left: 0;      
  }

  #heroTxt h1,#heroTxt p{
    color:#fff;
    text-align:center;
    margin:0;
    padding:0;
    width:100%;
  }



  a.btn {
    color: #d9d9d9;
    border: none;
    background-color: #3a3a3a;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .rowNo46 a.btn:hover,.rowNo02 a.btn:hover, .rowNo06 a.btn:hover, .rowNo10 a.btn:hover, .rowNo25 a.btn:hover, .rowNo48 a.btn:hover {
    background-color: #646467;
    color: #fff;
  }

  .rowNo02{
    background-color: #202020;
  }

  #bck_2 .rowNo06 p {
    max-height: 115px;
    overflow: hidden;
  }

 

  #block_6a {
    padding-top: 0;
    padding-bottom: 3rem;
  }

  #bck_6 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #e8f0f0;
  }

  #home .rowNo06{
    margin-top:0;
  }

  .rowNo06 h3 {
    margin-bottom: 2rem;
  }

  #home .rowNo06 img{
    width:100%;
  }

  #home .rowNo06 h3{
    margin-bottom:0;
    margin-top:0;
  }

  #home .rowNo07 p {
    min-height: 11rem;
}

  #home #bck_2{
    position: relative;
  }

  #home #bck_2 .rowNo06{
    text-align: center;
  }

  #home #bck_2 svg{
    position: absolute;
    top: -5rem;
  }

  .rowNo08 {
    margin-top: 4rem;
  }
  .rowNo08 p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1.rowNo08Cont {
    border: solid 2px #fff;
    padding: 12px 19px;
  }

  .rowNo02 p.slideOuts,  .rowNo10 p.slideOuts{
    margin-top:3rem;
  }

  #home .rowNo02 h3,  #home .rowNo02 p{
    color:#d9d9d9;
  }

  #home .rowNo02 h3::before, #home .rowNo10 h3::before{
    content:url('../img/hcBefore.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-10px;
    top:4px;
  }

  #home .rowNo07 h4::before{
    content:url('../img/hcBefore.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-10px;
    top:4px;
    width:20px;
    height:auto;
  }


  .rowNo15 form input[type='submit'] {
    border: 1px solid #ffd103;
    background-color: #ffd103;
    color: #2b2b4f;
    width: 80%;
    transition: background-color 0.2s, border-color 0.2s;
  }

  .rowNo15 form input[type='submit']:hover {
    border: 1px solid #2591b3;
    background-color: #2591b3;
    color: #fff;
  }

  .rowNo25 div.greyBGr25 {
    background-color: #f7f7f7;
    padding: 0.5rem 2.5rem 2rem 2.5rem;
    border-radius: 7px;
    border: solid 1px #eee;
  }
  .rowNo25 div.greyBGr25 img {
    width: 75%;
    margin: 3rem auto;
    display: block;
  }

  .rowNo36 h1, .rowNo36 h2, .rowNo36 h3, .rowNo36 h4, .rowNo36 h5, .rowNo36 h6 {
    text-align: left;
  }
  .rowNo36 .r36bg {
    background-repeat: no-repeat;
    width: auto;
    height: 56px;
    padding-left: 4rem;
    padding-top: 0.4rem;
    background-size: 50px 50px;
    background-position-y: 0.6rem;
  }
  .rowNo36 #r36_1 {
    background-image: url(../img/reshot-cap.svg);
  }
  .rowNo36 #r36_2 {
    background-image: url(../img/reshot-book.svg);
  }
  .rowNo36 #r36_3 {
    background-image: url(../img/reshot-tshirt.svg);
  }
  .rowNo36 #r36_4 {
    background-image: url(../img/reshot-keychain.svg);
  }

  #bck_4 .rowNo38 {
    margin-bottom: 5rem;
    grid-template-columns: 1fr;
  }

  #bck_4 .rowNo38 img {
    border-radius: 5%;
  }

  .rowNo46{
    height:80vh;
  }

  .rowNo46 div:first-child{
    padding-top:2rem;
  }

  .rowNo46 p,.rowNo46 h1{
    color:#fff;
  }

  .rowNo46 p{
    width:60%;
    margin: 3rem auto;
    text-align: center;
  }

  /* --- Footer --- */
  footer {
    background-image: url('../img/footerBG.jpg');
    background-repeat: no-repeat;
    padding-top: 0;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    color:#d9d9d9;
  }
  footer .rowNo06 {
    margin-bottom: 0;
    margin-top: 0;
  }
  footer p {
    padding: 0 0 0.5rem 0;
    margin: 0;
  }
  footer * {
    color:#d9d9d9;
  }
  footer .footerBottom {
    border-top: #455159 solid 1px;
    padding-top: 1.5rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  footer #FooterDesignedBy {
    font-size: 0.8rem;
  }
  footer #ft1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  footer #ft1 h4 {
    font-size: 1.5rem;
  }
  footer #ft2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  footer #ft2 p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .rowNo48 {
    z-index: 10;
  }

  /* --- Typography --- */
  h1, h2, h3, h4, h5, h6 {
    line-height: 3.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }


  /*** Content Pages ***/

  

  #page .start.container{
    background-color:#141414;
  }

  #page .start.container #bluditContent h1{
    text-align: center;
  }

  #page .start.container #bluditContent h1#headerh1::before{
    content:url('../img/hcPageBefore.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-10px;
    top:0px;
  }
  

  #page .start.container #bluditContent{
    background-color:#202020;
    padding:1rem;
    border-radius:5px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    overflow-x:auto;
  }

  #page .start.container #sidePanelRight{
    padding:0 2rem;
    background-color: #ccc;
    margin: 4rem 0;
    border-radius:5px;
  }

  .page .start.container #sidePanelRight img {
    width: 100%;
  }

  .page .start.container #sidePanelRight a {
    color:#0e0d17;
    font-weight:bold;

  }

  #bluditContent .post-name,#bluditContent .post-date{
    font-weight:bold;
    position:relative;
    top:-20px;
  }

  /*** t-page ***/
  .template{
    padding-top:7rem;
  }

  .contact3 input,  .contact3 textarea{
    width:100%;
  }



  p.t-page-postData{
    padding-bottom:1rem;  
    border-bottom:solid 1px #ccc;
    font-size:0.9rem;
  }

  #t-page a,#t-subs a{
    text-decoration: underline;
  }
 
  #headerImg{
    margin:0 auto;
    display: block;
    width:50%;
    margin-bottom: 2rem;
    box-shadow: 0 0 7px #000;
  }

  #t-page img,#t-subs img,#t-blog img{
    max-width:100%;
    height:auto;
  }

  #t-subs a.sideLinks{
    background-color:#F6F6F6;
    color:#2b2b4f;
    font-weight: bold;
    padding:0.8rem 1rem;
    width:100%;
    display: block;
  }

  #t-blog .rowNo02{
    background-color:#fdfdfd;
    border-radius: 5px;
    border: solid 1px #e2e2e2;
  }

  #t-blog section p{
    border-bottom:solid #ccc 1px;
  }

  #t-blog #topImg{
    width:50%;
  }

  #t-blog section a{
    background-color:#ccc;
    color:#2b2b4f;
    font-weight: bold;
    padding:0.8rem 1rem;
    width:100%;
  }

  #t-blog .rowNo02 div{
    width:100%;
  }

  #t-blog form{
    display: inline-block;
  }

  #t-blog form input, #t-blog span#currentBlogPage{
    display: inline-block;
    height: 37px;
    padding: 0 12px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    margin:5px 10px;
  }
}


@media screen and (min-width: 420px) {
  #bck_4 .rowNo38 {
    margin-bottom: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  #bck_4 .rowNo38 a {
    padding: 1.5rem 2rem;
  }
}


@media screen and (min-width: 576px) {
  a.homeBtn{
    width:70%;
  }

  .row {
    padding: 2.2rem 3rem;
  }

  .rowNo25 {
    grid-template-columns: 1fr;
  }

  /* --- Typography --- */
 
  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1rem;
  }

  #bck_4 .rowNo38 a {
    padding: 1.5rem 2rem;
  }


  /*** Content pages ***/
  #topImg{
    width:70%;
  }

}



@media screen and (min-width: 664px) {

  a.homeBtn{
    width:60%;
  }

  #bck_4 .rowNo38 a {
    padding: 1.5rem 3rem;
  }

  /*** Content Pages ***/
  .page #bck_3 img.animate__animated.animate__fadeIn {
    width: 70%;
    margin-top: 3rem;
  }
}


@media (min-width: 768px) {
  a.homeBtn{
    width:50%;
  }

  #bck_4 .rowNo38 a {
    padding: 1.5rem 3.2rem;
  }

  .rowNo10, .rowNo02, .rowNo48 {
    column-gap: 4rem;
  }

  .rowNo10 #leftBlock, .rowNo10 img{
    padding-top:4rem;
  }

  .rowNo15 form input[type='submit'] {
    width: 100%;
  }

  .rowNo25 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* --- Typography --- */
  h1 {
    font-size: 2rem;
  }


  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1rem;
  }

  /*** content ***/

  #t-page,#t-subs{
    padding:7rem 2rem;
  }

  #t-subs .rowNo10 {
    grid-template-columns: 3fr 1fr;
  }

  
  #t-page, #t-subs, #t-blog{
    background-image: url(../img/header-background.png);
    background-repeat: no-repeat;
    padding-top: 7rem;
  }

  #t-page .row, #t-subs .row{
    background-color:#fff;
    padding:4rem  7rem;
    border-radius:5px;
  }

}


@media (min-width: 820px) {

  a.homeBtn{
    width:45%;
  }


  #bck_4 .rowNo38 a {
    padding: 1.5rem 3.5rem;
  }

  footer {
    padding-top: 3rem;
  }
  footer .rowNo06 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 7rem;
  }
  footer .footerBottom {
    border-top: #455159 solid 1px;
    padding-top: 1.5rem;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  footer #ft1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  footer #ft2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  footer #ft2 p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  /* --- Typography --- */
 

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1rem;
  }

    /*** Content Pages ***/
    .page #bck_3 img.animate__animated.animate__fadeIn {
      width: 60%;
      margin-top: 3rem;
    }

  /*** Content pages ***/
  #topImg{
      width:50%;
  }
  
}


@media (min-width: 992px) {

  a.homeBtn{
    width:35%;
  }


  #bck_4 .rowNo38 {
    grid-template-columns: repeat(6, minmax(auto, 1fr));
  }
  #bck_4 .rowNo38 a {
    padding: 1.5rem 2rem;
  }

  .rowNo48 div {
    top: -2rem;
    position: relative;
    padding: 1.5rem 2rem;
  }

  footer #ft1 {
    padding-left: 2rem;
  }

  /* --- Typography --- */
  h1 {
    font-size: 3rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1rem;
  }

  /*** Content Pages ***/
  .page #bck_3 img.animate__animated.animate__fadeIn {
    width: 50%;
    margin-top: 3rem;
  }

  /*** Content pages ***/
  #topImg{
      width:38%;
  }

  #t-page{
    padding:7rem 6rem;
  }
}

